@model leave_management.Models.LeaveRequestViewAdminVM

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(Model => Model.intTotalRequests)</span>
                <span class="info-box-number">@Model.intTotalRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>

    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(Model => Model.intTotalRequests)</span>
                <span class="info-box-number">@Model.intTotalRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(Model => Model.intTotalRequests)</span>
                <span class="info-box-number">@Model.intTotalRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">@Html.DisplayNameFor(Model => Model.intTotalRequests)</span>
                <span class="info-box-number">@Model.intTotalRequests</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>
<table class="table" id="tblData">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval Status
            </th>
            <th>
                Approved By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.lstLeaveRequestVMClass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedEmployee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedByEmployee.FirstName)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.LeaveRequestID">
                <i class="fa fa-file"></i> Review
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
